*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
#countdown{
    
}

body{
    background: url('Forest.jpg') no-repeat center center / cover ;
    height: 100vh;
    font-family: 'Poppins', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin:0;
}

body::before{
    content: "";
    position: absolute;
    top:15px;
    width:45vw;
    height:15vh;
    /* background-color: rgb(15, 232, 123); */
    /* background-color: black; */
    z-index: -1;
    opacity:0.30;
    border-radius: 24px;
}


h1{
    
    
    color: rgb(22, 13, 68);
    font-weight: bold;
    font-size: 60px;
    margin: -220px 0 40px;
    
}

#countdown{

    display: flex;
    transform: scale(2);
    width:70%;
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    
    color: rgb(22, 13, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:80px 15px;
    padding:10px;
}
.time::before{
    border-radius: 10px;
    content: "";
    position: absolute;
    width:68px;
    height: 30%;
    background-color: rgb(36, 124, 81);
    z-index: -1;
    opacity:0.4; 
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px ;
}

@media ( max-width:730px)  {
    #countdown{
        text-align: center;
        justify-content: center;
        align-items: center;
     /* background-color:  red; */
     margin: 25px;
     padding: 0px;
     display: flex;
     flex-wrap: wrap;   
     width:43% ;
    }

    h1 {
        font-size: 45px;
        margin-bottom: 63px;
       }

    .time {
          margin:0px 3px;
          padding: 15px;
        }
        
    .time::before{
        width:48px;
        height:40px;
        


    }    
        .time h2{
            font-size: 12px;
        }
        
        .time small{
        font-size: 10px;
    }
}